@media only screen and (min-width: 960px){

    body{
        grid-template-rows: 50% 12% auto 25%;
    }
           
    .menu-compacto{
        display: none;
    }

    nav ul{ 
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 50%;
    }

    nav a{
        color: var(--rosa-forte);
        font-size: 1.2rem;
    }

    .carrossel, .navegacao{
        width: 50vw;
    }

    .navegacao{
        bottom: 2%;
    }

    .slides{
        padding-bottom: 3%;
    }

    .botao{
        padding: 5px;
        border-radius: 10px;
    }
    
    .botao:not(:last-child){
        margin-right: 5vw;
    }

    .sobre{
        font-size: 1.2rem;
    }

    .perfil{
        flex-direction: row-reverse;
    }

    .perfil img{
        width: 30vw;
    }

    .curso{
        width: 30%;       
    }

    .curso p{
        font-size: 0.9rem;
    }
    
    .contato p{
        font-size: 1rem;
    }
    
    .contato i{
        font-size: 1.3rem;
    }

    .detalhes-curso{
        width: 60%;
    }

    .comprar{
        width: 50%;
    }

    .valor{
        font-size: 2rem;       
    }

    .download{ 
        margin: 20px;
    }
}